from django.test import TestCase
from django.urls import reverse

class ${model_name}${crud_item_capitalize}TestCase(TestCase):
    def setUp(self):
        pass

    def test_${model_name_u_lower}_${crud_item}_page(self):
        response = self.client.get(reverse('${model_name_u_lower}_${crud_item}'))
        self.assertEqual(response.status_code, 200)
        self.assertTemplateUsed(response, '${model_name_u_lower}/${model_name_u_lower}_${crud_item}.html')