from django.http import HttpResponse
from django.views.generic import ListView, DetailView
from django.views.generic.edit import CreateView, UpdateView, DeleteView
from django.urls import reverse_lazy

from ${app_name}.models import ${model_name}

class ${model_name}ListView(ListView):
    model = ${model_name}
