include README.md

include django_basic_crud_generator/templates/views/list.tmpl
include django_basic_crud_generator/templates/views/create.tmpl
include django_basic_crud_generator/templates/views/detail.tmpl
include django_basic_crud_generator/templates/views/update.tmpl
include django_basic_crud_generator/templates/views/delete.tmpl

include django_basic_crud_generator/templates/templates/list.tmpl
include django_basic_crud_generator/templates/templates/create.tmpl
include django_basic_crud_generator/templates/templates/detail.tmpl
include django_basic_crud_generator/templates/templates/update.tmpl
include django_basic_crud_generator/templates/templates/delete.tmpl

include django_basic_crud_generator/templates/tests/list.tmpl
include django_basic_crud_generator/templates/tests/create.tmpl
include django_basic_crud_generator/templates/tests/detail.tmpl
include django_basic_crud_generator/templates/tests/update.tmpl
include django_basic_crud_generator/templates/tests/delete.tmpl
