from django.views.generic import DetailView

from ${app_name}.models import ${model_name}


class ${model_name}${crud_item_capitalize}View(DetailView):
    model = ${model_name}
    template_name = "${model_name_u_lower}/${model_name_u_lower}_${crud_item}.html"
