{% extends "layout/_content.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block page_title %}
{% trans "Add ${model_name}" %}
{% endblock page_title %}

{% block container_class %}login-bg{% endblock container_class%}

{% block content %}
<div class="form-container">
<h2 class="form-title">Add ${model_name}</h2>
    <form class=""method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" value="Submit" />
    </form>
</div>
{% endblock content %}